<!-- TODO: make the header a responsive navigation menu with responsive layout -->
<!-- Create a link to the people component/page -->
<header>
    <div class="d-flex justify-content-between">
        <div class="logo-wrapper">
            <img class="logo" src="assets/images/LG-mark.png">
            <img class="logo-text" src="assets/images/landgate.png">
        </div>
        <div >
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li><a href="#" class="nav-link">Home</a></li>
                        <li><a href="/people-ngrx" class="nav-link">People</a></li>
                        <li><a href="#" class="nav-link">About</a></li>
                        <li><a href="#" class="nav-link">Blog</a></li>
                        <li><a href="#" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>


</header>